@font-face {
    font-family: osrs-font;
    src: url(https://www.osrsbox.com/osrsbox-tooltips/osrs-font.woff);
}

/* Override some (global) default JQuery tooltip styles */
.ui-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff981f;
    font-family: osrs-font;
    font-size: 1em;
    max-width: 250px;
    min-width: 150px;
}

/* Pad the top of the tooltip */
.ui-tooltip-content {
    padding: 10px;
}

/* Control layout of top item image */
.osrs-tooltip-image {
    float: left;
    padding: 0 5px 5px 0;
}

/* Control layout of top item name (e.g., Abysall Whip) */
.osrs-tooltip-name {
    float: right;
    font-size: 1.1em;
    padding: 5px 0 0 0;
}

/* Clear previous float layouts */
.osrs-tooltip-clear {
    clear: both;
}

/* Control layout of text properties (e.g., Stackable, Tradeable) */
.osrs-tooltip-textleft {
    float: left;
}

/* Control layout of text propertie value (e.g., Yes, No, Price etc.) */
.osrs-tooltip-textright {
    float: right;
}

/* Control layout of the item stats table */
.osrs-tooltip-table {
    font-style: normal;
    font-size: 1em;
    text-align:center;	
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 10px;
}

/* Control layout of the item stats table HEADERS */
table.osrs-tooltip-table th,
table.osrs-tooltip-table td {
    border: 1px solid #ff981f;
    filter: alpha(opacity=40);
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff981f;
    text-align: center;
    padding: 2px;
}

/* Do not display the UI Helper */
.ui-helper-hidden-accessible { display:none; }

.osrs-tooltip {
    display: inline-block;
    position: static;
    white-space:normal;
    font-weight: bold;
    color: #ff981f;
    opacity: 100;
}
